ul.gallery {
  list-style-type: none;
  margin: 25px 0 0 0;
  padding: 0;
  height: auto;
  -webkit-column-count: 3;
  -moz-column-count: 3; 
  column-count: 3;
  img {
    width: 100%;
    margin: 0 0 15px 0;
    padding: 0;
    &:hover {
          opacity: 0.4;
       transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    }
  }
}