nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  img {
    width: 280px;
    margin: 45px 0 0 20px;
    padding: 0;
    float: left;
    &.social {
      width: 25px;
      margin: 10px 0 0 10px;
      float: none;
    }
  }
  ul.main_nav {
    list-style-type: none;
    padding: 0;
    margin: -20px 0 0 0;
    width: 100%;
    li {
      display: inline;
      padding: 0 0 0 40px;
    }
    a {
      text-decoration: none;
      font-size: 20px;
      text-transform: uppercase;
    }
  }
  ul.categories {
    list-style-type:none;
    margin-top: 30px;
    width: 250px;
    text-align: right;
    li {
      padding: 8px 0;
    }
    .active {
      color: #ccc;
    }
    a {
      text-decoration: none;
    }
  }
  ul.social {
    list-style-type:none;
    position: relative; 
    right: 0;
    margin-top: 40px;
    li {
      display: inline;

    }
  }
}