section {
  margin-left: 325px;
  width: auto;
  @media screen and (max-width: 799px) {
    margin: 60px auto;  
    width: 80%;
  }
  h1 {
    text-align: left;
  }
  img {
    max-width: 95%;
    display: block;
    margin: 0 auto;
    padding:40px 0;
    max-height: 1000px;
  }
  .back {
    font-family: 'Oswald';
    font-size: 1em;
    text-transform: uppercase;
    float: right;
    margin-bottom: 2em;
  }
}
