@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic);
@import 'base';
@import 'nav';
@import 'gallery';
@import 'post';
@import 'text-pages';
@import 'footer';


@media only screen and (max-width:850px) {
  nav {
    width: 100%;
    ul {
      float: right;
      &.categories {
        margin-top: 30px;
        li {
        padding: 0 110px 0 0;
        }
      } 
    }
  }
  section, article {
    clear:both;
    margin: 140px 0 0 0;
  }
}

@media only screen and (max-width:634px) {
  ul.gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2; 
    column-count: 2;
  }
  nav {
    position: relative;
    width: 300px;
    margin: 0 auto;
    img {
      margin: 0 auto;
    }
    ul {
    float: none;
    width: auto;
    text-align: center;
    margin: 50px auto;
    }
    ul.categories {
      padding: 0;
      width: auto;
      li {
        padding: 10px 0;
      }
    }
  }
  section, article {
    clear:both;
    margin: 70px 0 0 0;
  }
}


@media only screen and (max-width:400px) {
  ul.gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1; 
    column-count: 1;
  }
}

@media only screen and (min-width:851px) {
  nav ul {
    position: absolute;
    top: 140px;
  }
}