
%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"}
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.2.0/imagesloaded.pkgd.min.js"}
%script{:src => "//cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"}

%script{:src => "/js/custom.js"}

