<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Crista Alejandre - Illustration" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.url }}/css/main.css">
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="{{ site.url }}/index.html">
          <img src="{{ site.url }}/cristaalejandre.png" alt="Crista Alejandre">
        </a>
        <ul>
          <li><a href="{{ site.url }}/index.html">Home</a></li>
          <li><a href="{{ site.url }}/about-contact">About</a></li>
          <li><a href="http://twitter.com/hicrista"><img class="social" src="{{ site.url }}/images/twitter.jpg"></a> 
          <a href="http://hicrista.tumblr.com"><img class="social" src="{{ site.url }}/images/tumblr.jpg"></a></li>
          <!--<li><a href="{{ site.url }}/other-work">Other Work</a></li>-->
        </ul>
        </nav>
