<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Crista Alejandre - Illustration and Comics" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{site.url}}/css/first.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script id="loadcss" src="{{site.url}}/js/loadcss.js"></script>
    <script>
      loadCSS( "{{ site.url }}/css/main.css", document.getElementById("loadcss") );
    </script>
    <noscript><link rel="stylesheet" href="css/main.css"></noscript>
    
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
</head>
