%body
  %div#top.container.m-scene
    %nav#nav
      %a{:href => "/"}
        %h1.name
          Vertex Cat 
          %span.subtitle
            3D Art & Illustration

      %ul.main_nav
        %li
          %a{:href => "/"}
            Home
        %li
          %a{:href => "/about"}
            About &amp; Contact
      %div#contact
        %i.fa.fa-lg.fa-envelope
        {% include email.html %}
