<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Crista Alejandre - Illustration, Cartoons, Web Development" />
    <meta name="viewport" content="width=device-width">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.url }}/css/main.css">
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="{{ site.url }}/index.html">
          <img src="{{ site.url }}/images/alejandre-web.jpg" alt="Crista Alejandre">
        </a>
        <ul class="main_nav">
          <li><a href="{{ site.url }}">Home</a></li>
          <li><a href="{{ site.url }}/about">About</a></li>
          <li><a href="http://twitter.com/hicrista"><img class="social" src="{{ site.url }}/images/twitter.jpg"></a> 
          <a href="http://hicrista.tumblr.com"><img class="social" src="{{ site.url }}/images/tumblr.jpg"></a></li>
          <!--<li><a href="{{ site.url }}/other-work">Other Work</a></li>-->
        </ul>
        <ul class="categories">
          <li><a href="{{ site.url }}/illustration">Illustration</a></li>
          <li><a href="{{ site.url }}/comics">Comics</a></li>
          <!--<li><a href="{{ site.url }}/web">Web Development</a></li>-->
          <li><a href="{{ site.url }}/all">View All Work</a></li>
      </nav>
