html, body {
  font-family: $font-stack;
  width: 100%;
  color: $base-font-color;
  letter-spacing: 1px;
  overflow-x: hidden; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $primary-color;
  text-decoration: none;
  font-weight: bold;
  nav & {
    color: #2a2a2a;
  }
}

.container {
  margin: 0;
  padding: 1.5em;
}

.colorize {
  color: $primary-color;
}

