nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 24px;
  z-index: 1000;
  width: 99%;
  height: 110px;
  background: #fff;
  @media (max-width: 360px) {
    height: 8em;
    padding: 0 1em;
  }
}
h1.name {
  font-family: 'CSDSLight';
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 8px;
  background: transparent;
  color: #333;
  @media (max-width: 360px) {
    font-size: 1.5em
  }
} 

span.subtitle {
  color: #aaa;
  font-size: 18px;
  @media (max-width: 760px) {
    display: block;
    margin-top: .25em;
  }
}
 
ul.main_nav {
  display: block;
  font-size: 12px;
  margin: -10px 0 0   0;
  padding: 0;
  font-family: 'CSDSMedium';
  font-weight: 700;
  @media (max-width: 360px) {
    font-size: .9em
  }
  li {
    display: inline;
  }
  a {
    display: inline-block;
    margin: 1em 1em 0 0;
    color: #555;
  }
}

div#contact { 
  font-size: 12px;
  margin: 0 0 0 0;
  padding: 0;
  display: inline-block;
  position: absolute; 
  right: 60px;
  opacity: .7;
  font-family: 'CSDSMedium';
  @media (max-width: 800px) {
    display: none
  }
  i {
    color: $primary-color;
    padding: 0 .5em 0 0;
  }
}
