#grid-front {
  margin: 10em 0;
  img {
    height: 300px;
    margin-right: 2em;
  }
  figure {
    float: left;
    margin-bottom: 4em;
  }
  figcaption {
    font-size: 1.5em;
    margin-top: .5em;
  }
  @media (max-width: 360px) {
    width: 480px;
  }

}
#grid {
	width: 100%;
	padding: 0;
  margin-right: 2em;
  @media (max-width: 360px) {
    width: 95%;
    position: absolute; 
    left: 0;
    margin-left: 1em
  }
}
.grid {
	margin: 10em 0 0 0;
	padding: 0;
	list-style-type: none;
	  @media (max-width: 360px) {
    margin-top: 7em;
  }
}

item, .item img {
	width: 400px;
	@media (max-width: 900px) {
		width: 96%
	}
  display: block
}

.item {
	margin: 0 0 2em 0;
}


.scrolltop {
  width: 95%;
  margin: 0 4em 0 0;
  padding-bottom: 1em;
  text-align: right;
  font-size: .6em;
}