.m-scene .scene_element {
-webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
-webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
-webkit-animation-fill-mode: both;
}

.m-scene .scene_element--fadein {
-webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.m-scene.is-exiting .scene_element {
-webkit-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse;
}

/*
 * Keyframes
*/
@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
} 
@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}