ul.blog-roll {
  list-style-type: none;
  width: 100%;
  padding: 0; 
  margin: 0;
  li {
    padding: 0 0 6em 0;
  }
}

.post-date {
  float: right;
  line-height: 2em;
  a {
    color: #2a2a2a;
    i.fa {
    color: $primary-color;
    }
  }
}