  a.tag-link {
    text-transform: uppercase;
    color: #000;
  }

section.tag-list {
  margin-left: 1em;
  padding-bottom: 10em;

	a.tag-link:before {
	 	display: inline-block; 
    content: " "; 
    margin-top: -12em; 
    height: 12em; 
    visibility: hidden; 
  }
}

ul.tags {
 	list-style-type:none;
  text-transform: uppercase;
	margin: 0 0 3em 1em;
	padding: 0;
	li {
		padding: .4em;
	}
}

.tag-divider:last-of-type {
	display: none;
}