
a.tag-link {
  color: $primary-color;
  font-family: 'CSDSMedium';
  padding-right: 1em;
  &:last-of-type {
    padding-right: 0;
  }
}

.fa-tags {
  color: #888;
  margin: .5em .25em 0 0;
}

.tag-divider {
  padding: 0 .5em;
  visibility: hidden;
}
.tag-divider:last-of-type {
	display: none;
}