
a.credit {
  color: #999;
  padding-right: 1em;
  font-style: italic;

  font-size: 1.25em;
}

.fa-tags {
  color: #888;
  margin: .5em .25em 0 0;
}

.tag-divider {
  padding: 0 .5em;
  visibility: hidden;
}
.tag-divider:last-of-type {
	display: none;
}