html, body {
  font-family: $font-stack;
  overflow-x: hidden; 
}

h1 {
  font-weight: 600;
  font-size: 20px;
  padding: 5px 5px 5px 8px;
  text-transform: uppercase;
  width: 100%;
  background: #000;
  color: #fff;
  line-height: 21px;
}

p {
  clear: both;
  line-height: 25px;
  margin-bottom:2em;
}

a {
  color: $primary-color;
  text-decoration: none;
  font-weight: bold;
  nav & {
    color: #2a2a2a;
  }
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.left {
  float: left;
}
.right {
  float: right;
}

.colorize {
  color: $primary-color;
}