html, body {
  font-family: $font-stack;
  overflow-x: hidden; 
}

h1 {
  font-weight: 400;
  font-size: 22px;
  padding: 6px;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  background: #000;
  color: #fff;
}

p {
  clear: both;
  line-height: 25px;
}

a {
  color: $primary-color;
  text-decoration: none;
  font-weight: bold;
  nav & {
    color: #2a2a2a;
  }
}

.container {
  width: 90%;
  margin: 0;
  padding: 0 25px;
}

.left {
  float: left;
}
.right {
  float: right;
}