ul.gallery {
  list-style-type: none;
  width: 100%;
  max-width: 800px;
  margin: 0;
  padding: 0;
  height: auto;
  -webkit-column-count: 1;
  -moz-column-count: 1; 
  column-count: 1;
  a, img {
    display: block
  }
  img {
    width: 100%;
    margin: 0 0 15px 0;
    padding: 0;
    &:hover {
          opacity: 0.4;
       transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    }
  }
}