ul.gallery {
  padding: 1em;
  margin: 0;
  list-style-type: none;
  width: 100%;
  -webkit-column-count: 3;
  -moz-column-count: 3; 
  column-count: 3;
  @media screen and (max-width: 1100px) {
    -webkit-column-count: 2;
    -moz-column-count: 2; 
    column-count: 2;
  }
  li {
    display: block;
    margin: 0 0 1em 0;
  }
  a, img {
    display: block;
  }
  img {
    width: 100%;
    margin: 0;
    padding: 0em;
  }
}

