.left {
  float: left;
}
.right {
  float: right;
}
ul.gallery {
  padding: 1em;
  margin: 0;
  list-style-type: none;
  width: 100%;
}

.scrolltop {
  width: 95%;
  margin: 0 auto;
  text-align: right;
}

.left {
  text-align: left;
  padding-left: 5%;
}




