#mc_embed_signup {
	background:#fff; 
	clear:left; 
	width:400px;
}

input.button {
	background: $primary-color !important;
	margin-top: 20px !important;
	font-family: $font-stack !important;
}

div.mce_inline_error {
	background: #f5f53b !important;
	color: #000 !important;
}
.asterisk {
	color: $primary-color !important;
}