nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 16em;
  padding: 1em; 
  @media screen and (max-width: 799px) {
    position: relative; 
    margin: 0;
  }
  img.wordmark {
    width: 100%;
  }
  a {
    text-decoration: none;
  }  

  ul.main_nav {
    overflow: hidden;
    font-size: 1.20em;
    width: 100%;
    text-transform: uppercase;
    margin: .5em 0 0 0;
    padding: 0;
    font-weight: 700;
    text-align: right;
    li {
      padding: 0 0 .8em 0;
      margin: 0;
    }
    @media screen and (max-width: 1000px) {
    /* automatically justifies menu links */
    text-align: justify; 
    > li {
      display: inline-block;
      font-size: .9em;
    }
    &:after { 
      content:' '; 
      display:inline-block; 
      width: 100%; 
      height: 0;    }
  }
}


  /* toggled contact info */
  div#contact {
    width: 15em;  
    display: none;
    i {color: $primary-color;}
    ul.social {
    text-align: justify; 
    padding: 0; 
    margin: 0 0 3em 0;
      li {
        display: inline-block;
        margin-right: .7em;
        padding: 0;
      }
    }
    .fa-inverse {
      color: #fff;
    }
    .fa-fw {
      margin-left: -.125em;
    }
  }
}

