nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 20em;
  padding: 1em; 
  @media screen and (max-width: 799px) {
    position: relative; 
    margin: 0 auto;  
  }
  img.wordmark {
    width: 100%;
  }
  a {
    text-decoration: none;
  }  
 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  ul.main_nav {
    font-size: 1.20em;
    width: 98%;
    text-transform: uppercase;
    margin-top: .5em;
    font-weight: 700;
    /* automatically justifies menu links */
    text-align: justify; 
    > li {
      display: inline-block;
    }
    &:after { content:' '; display:inline-block; width: 100%; height: 0 }
  }
}

/* toggled contact info */
div#contact {
  width: 19.25em;  
  display: none;
  i {color: #f53c8c;}
  ul.social {
  text-align: justify; 
    li {
      display: inline-block;
      margin-right: .8em;
      padding: 0;
    }
  }
  .fa-inverse {
    color: #fff;
  }
}