nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 320px;
  padding: 10px; 
  @media screen and (max-width: 799px) {
    position: relative; 
    margin: 0 auto;  
  }
  img.wordmark {
    width: 100%;
  }
  a {
    text-decoration: none;
  }  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    display: inline;
  }
  ul.main_nav {
    font-size: 1.4em;
    width: 100%;
    text-transform: uppercase;
    margin-top: .5em;
    font-weight: 700;
    li {
    padding: 0 2.4em 0 0;
      &:last-of-type {
        padding: 0;
      }
    }
  }
  ul.categories {
    font-size: .9em;
    margin-top: 1.25em;
    li {
      padding: 0 5.6em 0 0;
      &:last-of-type {
        padding: 0;
      }
    }  
  }
}