section, article {
  padding: 0 1em;
  margin: 0 10px 0 270px;
  width: auto;
  max-width: 800px;
  @media screen and (max-width: 799px) {
    margin-left: 0;
  }
  h1 {
    text-align: left;
  }
  img {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 0;
    padding: 0;
  }
  ul.blog-roll li ul li {
  padding: 0 0 .5em 0;
  margin: 0;
  }
  pre {
    background: #eee;
    width: 80%;
    margin: 1em auto;
    padding: 1em;

  }
  code {
    background: #eee;
  }
}
