article.tag-list {
	margin-top: 1em;
}
ul.tags {
 	list-style-type:none;
	margin: 0 0 3em 0;
	padding: 0;
	li {
		padding: .4em;
	}

}
a.tag-link {
	text-transform: uppercase;
	color: #000;
}
.tag-divider:last-of-type {
	display: none;
}