article {
  margin-left: 350px;
  width: auto;
  @media screen and (max-width: 799px) {
    margin: 60px auto;  
    width: 80%;
  }
  img {
    width: 250px;  margin: 0;
    padding: 0;
    float: left;
  }
  h1:not(:first-child) {
    margin-top: 40px;
  }
}