h1 {
  font-weight: 600;
  font-size: 20px;
  padding: 5px 5px 5px 8px;
  text-transform: uppercase;
  width: 100%;
  background: #000;
  color: #fff;
  line-height: 21px;
}
p {
  clear: both;
  line-height: 25px;
  margin-bottom:2em;
}

article {
  img {
    width: 250px;  
    margin: 0;
    padding: 0;
    float: left;
  }
  h1:not(:first-child) {
    margin-top: 40px;
  }
}