@import url("//hello.myfonts.net/count/2db1e7");

  
@font-face {
	font-family: 'BellGothicBT-Roman';
	src: url('/webfonts/2DB1E7_0_0.eot');
	src: url('/webfonts/2DB1E7_0_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/2DB1E7_0_0.woff2') format('woff2'),url('/webfonts/2DB1E7_0_0.woff') format('woff'),url('/webfonts/2DB1E7_0_0.ttf') format('truetype');
}
 