{% include 1-head.html %}
{% include 2-nav.html %}

<section id="grid-front" class="scene_element scene_element--fadein">
<figure>
  <a href="/texture-paint">
    <img src="/images/three/cat-idle.gif">
    <figcaption>
    Model + texture paint
  </figcaption></a>
   </figure>


<figure>
  <a href="/vertex-color">
    <img src="/images/three/smc.gif">
  
      <figcaption>
    Model + flat shade/vertex color
  </figcaption></a>
</figure>


<figure>
  <a href="/sculpt">
    <img src="/images/three/sculpt.jpg">
   
      <figcaption>
Sculpt
  </figcaption></a>
</figure>


<figure>
   <a href="/zines">
    <img src="/images/three/zines.jpg">

      <figcaption>
    Zines
  </figcaption></a>
</figure>

<figure>
   <a href="/illos">
    <img src="/images/three/illos.jpg">

      <figcaption>
    Other illustrations
  </figcaption></a>
</figure>

        <!--<div class="tag-wrap">
          {% for tag in post.tags %}
            <i class="fa fa-tags"></i> 
            <a class="tag-link" href="/tagged/{{ tag }}">{{ tag }}</a>
          {% endfor %}
        </div>-->

  {% include 41-analytics_main.html %}
{% include 9-footer.html %}