{% include 1-head.html %}
{% include 2-nav.html %}

<section id="illustration" class="grid-wrap scene_element scene_element--fadein">
	<ul id="fullpage" class="grid">

	  {% for post in site.categories.illustration %}
	    <li id="{{post.permalink}}" class="section">
	      <a href="{{ post.url }}"><img srcset="
	        /images/illustration/{{ post.image }} 1x,
	        /images/illustration/{{ post.image | replace:'.png','@2x.png'}} 2x,
	        "></a>
	      <h3>{{ post.title }}</h3>
	    </li>
	  {% endfor %}

	</ul>

{% include 41-analytics_main.html %}
{% include 9-footer.html %}