{% include 1-head.html %}
{% include 2-nav.html %}

<section id="comics-etc" class="grid-wrap scene_element scene_element--fadein">
<ul class="grid grid-alt">
  {% for post in site.categories.comics-etc %}
    <li id="{{ post.permalink }}" class="grid-item">
      <a href="{{ post.url }}"><img srcset="
        /images/comics-etc/{{ post.image }} 1x,
        /images/comics-etc/{{ post.image | replace:'.png','@2x.png'}} 2x,
        "></a>
      <h3>{{ post.title }}</h3>
    </li>
  {% endfor %}
</ul>

{% include 41-analytics_main.html %}
{% include 9-footer.html %}