{% include 1-head.html %}

{% include 2-nav.html %}
<section id="{{ page.url | slugify }}" class="post scene_element scene_element--fadein">

<h1>{{ page.title }}</h1>

<ul class="blog-roll">
    <li>
 {{ content }}

 <span class="post-date">
        Posted on <a href="{{ page.url }}">{{ page.date | date: "%d %B %Y" }}</a> | 
        <a href="https://twitter.com/intent/tweet?screen_name=hicrista">
        <i class="fa fa-twitter-square"></i> 
	       Tweet to comment
	       </a>
         <br>
         <i class="fa fa-tags"></i> 
         {% for tag in page.tags %}
           <a class="tag-link" href="/tags#{{ tag }}">{{ tag }}</a>
           <span class="tag-divider">&#8226;</span>
           {% endfor %}
      </span>
     
 </span>
</li></ul>
</section>

{% include 42-analytics_blog.html %}
{% include 9-footer.html %}