{% include 1-head.html %}
{% include 2-nav.html %}
<article class="tag-list scene_element scene_element--fadein">
	{% capture tags %}
  {% for tag in site.tags %}
    {{ tag[0] }}
  {% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}

{% for tag in sortedtags %}
  <i class="fa fa-tags"></i> 
  <a name="{{ tag }}" class="tag-link">{{ tag }}</a>
  <ul class="tags">
  {% for post in site.tags[tag] %}
    <li><a href="{{ post.url }}">{{ post.title }}</a> on {{ post.date | date: "%d %B %Y" }}</li>
  {% endfor %}
  </ul>
{% endfor %}
</article>

{% include 42-analytics_blog.html %}
{% include 9-footer.html %}

