{% include head.html %}
{% include analytics_main.html %}
{% include nav.html %}

<section class="grid-wrap">
<ul class="gallery grid grid-alt" id="grid2">
  {% for post in site.categories.comics-etc %}
    <li>
      <a href="{{ post.url }}"><img srcset="
        /images/comics-etc/{{ post.image }} 1x,
        /images/comics-etc/{{ post.image | replace:'.png','@2x.png'}} 2x,
        "></a></a>
      <h3>{{ post.title }}</h3>
    </li>
  {% endfor %}
</ul>

<script src="{{site.url}}/js/build/global.min.js"></script>


{% include scrolltop.html %}

{% include footer.html %}