---
layout: default
---
%section#grid.scene_element.scene_element--fadein

  %ul.grid

    {% if page.collection-name contains "3D-sculpt" %}
    {% assign sorted = (site.3D-sculpt | sort: "order") %}
    {% haml show-projects.haml %}
    {% endif %}

    {% if page.collection-name contains "3D-painted" %}
    {% assign sorted = (site.3D-painted | sort: "order") %}
    {% haml show-projects.haml %}
    {% endif %}   

    {% if page.collection-name contains "3D-flat" %}
    {% assign sorted = (site.3D-flat | sort: "order") %}
    {% haml show-projects.haml %}
    {% endif %}    
    
    {% if page.collection-name contains "2D-work" %}
    {% assign sorted = (site.2D-work | sort: "order") %}
    {% haml show-projects.haml %}
    {% endif %} 
