---
layout: default
---
%section#grid-front.grid
  {% for collection in site.data.collections %}
  %figure.item
    %a{:href => "{{collection.permalink}}"}
      %img{:src => "/images/{{collection.thumbnail}}"}
      %figcaption
        {{ collection.caption }}
  {% endfor %}
