---
layout: default
---
%section#grid-front.scene_element.scene_element--fadein
  {% for collection in site.data.collections %}
  %figure
    %a{:href => "{{collection.permalink}}"}
      %img{:src => "/images/{{collection.thumbnail}}"}
      %figcaption
        {{ collection.caption }}
  {% endfor %}
