---
layout: default
---
%section.project.scene_element.scene_element--fadein
  %h1
    {{ page.title }}
  %div.slides
    {% for item in page.slides %}
    %img.main{:src => "/images/{{ page.category | first}}/{{ item }}"}
    {% endfor %}

{{ content }}

